In [1]:
import pandas as pd
import numpy as np

In [2]:
df_unclean = pd.read_csv("bank-full.csv", sep = ";")
df_unclean.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [3]:
df_unclean.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [4]:
df_unclean.replace('unknown', np.NaN, inplace=True)

In [5]:
df_unclean.isna().sum()

age              0
job            288
marital          0
education     1857
default          0
balance          0
housing          0
loan             0
contact      13020
day              0
month            0
duration         0
campaign         0
pdays            0
previous         0
poutcome     36959
y                0
dtype: int64

In [6]:
####Drops all missing rows from job
df_clean=df_unclean[df_unclean['job'].notnull()]

In [7]:
df_clean['education'].mode()

0    secondary
dtype: object

In [8]:
# fill missing values with mean column values
df_clean['education'].replace(to_replace = np.nan, value= 'secondary', inplace=True)

/Users/Mango/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [9]:
df_clean['education'].value_counts()

secondary    24861
tertiary     13262
primary       6800
Name: education, dtype: int64

In [10]:
##Essentially NA Values
df_clean['pdays'].value_counts()

-1      36699
 182      165
 92       146
 183      126
 91       123
 181      117
 370       99
 184       85
 364       77
 95        73
 350       73
 94        72
 175       71
 185       67
 343       65
 93        63
 188       62
 186       60
 189       58
 96        57
 174       57
 349       57
 363       55
 90        54
 97        53
 196       51
 365       51
 368       49
 98        49
 357       49
        ...
 774        1
 550        1
 396        1
 492        1
 466        1
 45         1
 434        1
 18         1
 529        1
 465        1
 401        1
 784        1
 656        1
 592        1
 528        1
 464        1
 432        1
 655        1
 495        1
 543        1
 47         1
 782        1
 686        1
 558        1
 526        1
 749        1
 717        1
 589        1
 493        1
 32         1
Name: pdays, Length: 558, dtype: int64

In [11]:
df_clean.isna().sum()

age              0
job              0
marital          0
education        0
default          0
balance          0
housing          0
loan             0
contact      12909
day              0
month            0
duration         0
campaign         0
pdays            0
previous         0
poutcome     36704
y                0
dtype: int64

In [12]:
df_clean.drop(df_clean[['contact', 'poutcome']], axis=1, inplace=True)

/Users/Mango/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [13]:
df_clean

,age,job,marital,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,y
0,58,management,married,tertiary,no,2143,yes,no,5,may,261,1,-1,0,no
1,44,technician,single,secondary,no,29,yes,no,5,may,151,1,-1,0,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,5,may,76,1,-1,0,no
3,47,blue-collar,married,secondary,no,1506,yes,no,5,may,92,1,-1,0,no
5,35,management,married,tertiary,no,231,yes,no,5,may,139,1,-1,0,no
6,28,management,single,tertiary,no,447,yes,yes,5,may,217,1,-1,0,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,5,may,380,1,-1,0,no
8,58,retired,married,primary,no,121,yes,no,5,may,50,1,-1,0,no
9,43,technician,single,secondary,no,593,yes,no,5,may,55,1,-1,0,no
10,41,admin.,divorced,secondary,no,270,yes,no,5,may,222,1,-1,0,no
11,29,admin.,single,secondary,no,390,yes,no,5,may,137,1,-1,0,no
12,53,technician,married,secondary,no,6,yes,no,5,may,517,1,-1,0,no
13,58,technician,married,secondary,no,71,yes,no,5,may,71,1,-1,0,no
14,57,services,married,secondary,no,162,yes,no,5,may,174,1,-1,0,no
15,51,retired,married,primary,no,229,yes,no,5,may,353,1,-1,0,no
16,45,admin.,single,secondary,no,13,yes,no,5,may,98,1,-1,0,no
17,57,blue-collar,married,primary,no,52,yes,no,5,may,38,1,-1,0,no
18,60,retired,married,primary,no,60,yes,no,5,may,219,1,-1,0,no
19,33,services,married,secondary,no,0,yes,no,5,may,54,1,-1,0,no
20,28,blue-collar,married,secondary,no,723,yes,yes,5,may,262,1,-1,0,no
21,56,management,married,tertiary,no,779,yes,no,5,may,164,1,-1,0,no
22,32,blue-collar,single,primary,no,23,yes,yes,5,may,160,1,-1,0,no
23,25,services,married,secondary,no,50,yes,no,5,may,342,1,-1,0,no
24,40,retired,married,primary,no,0,yes,yes,5,may,181,1,-1,0,no
25,44,admin.,married,secondary,no,-372,yes,no,5,may,172,1,-1,0,no
26,39,management,single,tertiary,no,255,yes,no,5,may,296,1,-1,0,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,5,may,127,1,-1,0,no
28,46,management,single,secondary,no,-246,yes,no,5,may,255,2,-1,0,no
29,36,technician,single,secondary,no,265,yes,yes,5,may,348,1,-1,0,no
30,57,technician,married,secondary,no,839,no,yes,5,may,225,1,-1,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45180,66,retired,married,secondary,no,3409,no,no,15,nov,414,2,27,6,no
45181,46,blue-collar,married,secondary,no,6879,no,no,15,nov,74,2,118,3,no
45182,34,technician,married,secondary,no,133,no,no,15,nov,401,2,187,5,yes
45183,70,retired,married,primary,no,324,no,no,15,nov,78,1,96,7,no
45184,63,retired,married,secondary,no,1495,no,no,16,nov,138,1,22,5,no
45185,60,services,married,tertiary,no,4256,yes,no,16,nov,200,1,92,4,yes
45187,32,services,single,secondary,no,1168,yes,no,16,nov,411,1,-1,0,yes
45188,29,management,single,secondary,no,703,yes,no,16,nov,236,1,550,2,yes
45189,25,services,single,secondary,no,199,no,no,16,nov,173,1,92,5,no
45190,32,blue-collar,married,secondary,no,136,no,no,16,nov,206,1,188,3,yes
45191,75,retired,divorced,tertiary,no,3810,yes,no,16,nov,262,1,183,1,yes
45192,29,management,single,tertiary,no,765,no,no,16,nov,238,1,-1,0,yes
45193,28,self-employed,single,tertiary,no,159,no,no,16,nov,449,2,33,4,yes
45194,59,management,married,tertiary,no,138,yes,yes,16,nov,162,2,187,5,no
45195,68,retired,married,secondary,no,1146,no,no,16,nov,212,1,187,6,yes
45196,25,student,single,secondary,no,358,no,no,16,nov,330,1,-1,0,yes
45197,36,management,single,secondary,no,1511,yes,no,16,nov,270,1,-1,0,yes
45198,37,management,married,tertiary,no,1428,no,no,16,nov,333,2,-1,0,no
45199,34,blue-collar,single,secondary,no,1475,yes,no,16,nov,1166,3,530,12,no
45200,38,technician,married,secondary,no,557,yes,no,16,nov,1556,4,-1,0,yes
45201,53,management,married,tertiary,no,583,no,no,17,nov,226,1,184,4,yes
45202,34,admin.,single,secondary,no,557,no,no,17,nov,224,1,-1,0,yes
45203,23,student,single,tertiary,no,113,no,no,17,nov,266,1,-1,0,yes
45204,73,retired,married,secondary,no,2850,no,no,17,nov,300,1,40,8,yes
45205,25,technician,single,secondary,no,505,no,yes,17,nov,386,2,-1,0,yes
45206,51,technician,married,tertiary,no,825,no,no,17,nov,977,3,-1,0,yes
45207,71,retired,divorced,primary,no,1729,no,no,17,nov,456,2,-1,0,yes
45208,72,retired,married,secondary,no,5715,no,no,17,nov,1127,5,184,3,yes
45209,57,blue-collar,married,secondary,no,668,no,no,17,nov,508,4,-1,0,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,17,nov,361,2,188,11,no

In [14]:
df_clean.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
y            0
dtype: int64

In [15]:
df_clean.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
y            object
dtype: object

In [16]:
X_enc = pd.get_dummies(df_clean[['marital', 'job', 'education', 'default', 'housing', 'loan', 'y']], drop_first= True)

numeric_data = df_clean[['age', 'balance', 'duration', 'campaign', 'previous']]

cleaned_data_concat = pd.concat([numeric_data, X_enc], axis=1)

In [ ]:
numeric_data_standardized =

In [ ]:
from sklearn.preprocessing import StandardScaler

scalar = sklearn.preprocessing.StandardScaler()

scalar_train_x = scalar.fit_transform(x_train)
scalar_test_x = scalar.transform(x_test)

In [17]:
pd.set_option('display.max_columns', 130)

In [18]:
df_clean['pdays'].value_counts()

-1      36699
 182      165
 92       146
 183      126
 91       123
 181      117
 370       99
 184       85
 364       77
 95        73
 350       73
 94        72
 175       71
 185       67
 343       65
 93        63
 188       62
 186       60
 189       58
 96        57
 174       57
 349       57
 363       55
 90        54
 97        53
 196       51
 365       51
 368       49
 98        49
 357       49
        ...
 774        1
 550        1
 396        1
 492        1
 466        1
 45         1
 434        1
 18         1
 529        1
 465        1
 401        1
 784        1
 656        1
 592        1
 528        1
 464        1
 432        1
 655        1
 495        1
 543        1
 47         1
 782        1
 686        1
 558        1
 526        1
 749        1
 717        1
 589        1
 493        1
 32         1
Name: pdays, Length: 558, dtype: int64

In [19]:
####Dropped Categories notes
#Marital - Divorced
#Jobs - admin
#Education - primary
# default - no
#housing - no
#loan - no

In [22]:
cleaned_data_x = cleaned_data_concat.iloc [:,:-1]
cleaned_data_x
cleaned_data_y = cleaned_data_concat.iloc [:,-1:]
cleaned_data_x

,age,balance,duration,campaign,previous,marital_married,marital_single,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,education_secondary,education_tertiary,default_yes,housing_yes,loan_yes
0,58,2143,261,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
1,44,29,151,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
2,33,2,76,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1
3,47,1506,92,1,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
5,35,231,139,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
6,28,447,217,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,1
7,42,2,380,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,1,0
8,58,121,50,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
9,43,593,55,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
10,41,270,222,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
11,29,390,137,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
12,53,6,517,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
13,58,71,71,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
14,57,162,174,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
15,51,229,353,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
16,45,13,98,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
17,57,52,38,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
18,60,60,219,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
19,33,0,54,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
20,28,723,262,1,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,1
21,56,779,164,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
22,32,23,160,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1
23,25,50,342,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
24,40,0,181,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1
25,44,-372,172,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
26,39,255,296,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
27,52,113,127,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1
28,46,-246,255,2,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
29,36,265,348,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1
30,57,839,225,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45180,66,3409,414,2,6,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
45181,46,6879,74,2,3,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
45182,34,133,401,2,5,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
45183,70,324,78,1,7,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
45184,63,1495,138,1,5,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
45185,60,4256,200,1,4,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0
45187,32,1168,411,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
45188,29,703,236,1,2,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
45189,25,199,173,1,5,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
45190,32,136,206,1,3,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
45191,75,3810,262,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0
45192,29,765,238,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
45193,28,159,449,2,4,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
45194,59,138,162,2,5,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,1
45195,68,1146,212,1,6,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
45196,25,358,330,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
45197,36,1511,270,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
45198,37,1428,333,2,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
45199,34,1475,1166,3,12,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0
45200,38,557,1556,4,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0
45201,53,583,226,1,4,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
45202,34,557,224,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
45203,23,113,266,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
45204,73,2850,300,1,8,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
45205,25,505,386,2,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1
45206,51,825,977,3,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
45207,71,1729,456,2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
45208,72,5715,1127,5,3,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
45209,57,668,508,4,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
45210,37,2971,361,2,11,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0

In [43]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(cleaned_data_x, cleaned_data_y, test_size=0.1, random_state= 1254)

In [65]:
from sklearn.preprocessing import StandardScaler

scalar = sklearn.preprocessing.StandardScaler()

scalar_train_x = scalar.fit_transform(x_train)
scalar_test_x = scalar.transform(x_test)

In [44]:
len(y_test)

4493

In [47]:
import statsmodels.api as sm

In [67]:
X = sm.add_constant(scalar_train_x)
y = y_train
logit_mod = sm.Logit(y, X)
logit_res = logit_mod.fit(disp=True)

Optimization terminated successfully.
         Current function value: inf
         Iterations 8

/Users/Mango/anaconda3/lib/python3.7/site-packages/statsmodels/discrete/discrete_model.py:1724: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))

In [49]:
X.dtypes

const                  float64
age                      int64
balance                  int64
duration                 int64
campaign                 int64
previous                 int64
marital_married          uint8
marital_single           uint8
job_blue-collar          uint8
job_entrepreneur         uint8
job_housemaid            uint8
job_management           uint8
job_retired              uint8
job_self-employed        uint8
job_services             uint8
job_student              uint8
job_technician           uint8
job_unemployed           uint8
education_secondary      uint8
education_tertiary       uint8
default_yes              uint8
housing_yes              uint8
loan_yes                 uint8
dtype: object

In [68]:
logit_mod.fit().summary()

/Users/Mango/anaconda3/lib/python3.7/site-packages/statsmodels/discrete/discrete_model.py:1724: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))
/Users/Mango/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:488: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

Optimization terminated successfully.
         Current function value: inf
         Iterations 8

/Users/Mango/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:488: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  y_yes   No. Observations:                40430
Model:                          Logit   Df Residuals:                    40407
Method:                           MLE   Df Model:                           22
Date:                Wed, 03 Jul 2019   Pseudo R-squ.:                     inf
Time:                        14:51:43   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                        0.0000
                                        LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -2.5814      0.023   -112.627      0.000      -2.626      -2.536
x1             0.0333      0.023      1.466      0.143      -0.011       0.078
x2             0.0531      0.015      3.635      0.000       0.024       0.082
x3             1.0031      0.016     61.407      0.000       0.971       1.035
x4            -0.4367      0.032    -13.586      0.000      -0.500      -0.374
x5             0.3347      0.017     19.851      0.000       0.302       0.368
x6            -0.0581      0.028     -2.065      0.039      -0.113      -0.003
x7             0.0976      0.029      3.310      0.001       0.040       0.155
x8            -0.2098      0.029     -7.154      0.000      -0.267      -0.152
x9            -0.1028      0.022     -4.676      0.000      -0.146      -0.060
x10           -0.0994      0.022     -4.566      0.000      -0.142      -0.057
x11           -0.1167      0.029     -4.024      0.000      -0.174      -0.060
x12            0.0759      0.020      3.759      0.000       0.036       0.116
x13           -0.0783      0.020     -3.918      0.000      -0.118      -0.039
x14           -0.1173      0.024     -4.903      0.000      -0.164      -0.070
x15            0.0874      0.015      5.962      0.000       0.059       0.116
x16           -0.1176      0.025     -4.684      0.000      -0.167      -0.068
x17           -0.0316      0.018     -1.756      0.079      -0.067       0.004
x18            0.1094      0.031      3.513      0.000       0.048       0.170
x19            0.2518      0.033      7.559      0.000       0.186       0.317
x20           -0.0435      0.022     -1.982      0.047      -0.086      -0.000
x21           -0.4959      0.019    -25.737      0.000      -0.534      -0.458
x22           -0.2363      0.022    -10.759      0.000      -0.279      -0.193
==============================================================================
"""

In [69]:
import sklearn.linear_model 
from sklearn.linear_model import LogisticRegression
#create an instance and fit the model 
logmodel = LogisticRegression()
sk_res = logmodel.fit(x_train, y_train)
sk_predictions = logmodel.predict(x_test)

/Users/Mango/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [70]:
from sklearn.metrics import classification_report
print(classification_report(y_test, sk_predictions))

             precision    recall  f1-score   support

          0       0.91      0.98      0.94      3995
          1       0.53      0.19      0.28       498

avg / total       0.86      0.89      0.87      4493

In [71]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, sk_predictions))

[[3912   83]
 [ 404   94]]

In [56]:
(3912+94)/(3914+94+404+83)

0.8912124582869856

In [98]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import GridSearchCV, train_test_split, cross_val_score 
from statistics import mean

In [113]:


ridge= Ridge() 
parameters = {'alpha': [1100, 1110, 1120, 1130, 1140, 1150, 1160, 1170, 1180, 1190, 1200]}
ridgeModel.fit(scalar_train_x, y_train)

ridge_regressor = GridSearchCV(ridge, parameters, scoring='neg_mean_squared_error', cv=5)
ridge_regressor.fit(scalar_train_x, y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'alpha': [1100, 1110, 1120, 1130, 1140, 1150, 1160, 1170, 1180, 1190, 1200]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [114]:
print(ridge_regressor.best_params_)
print(ridge_regressor.best_score_)

{'alpha': 1150}
-0.08304537531490078

In [95]:
ridge = RidgeRegression()
param_grid = [{"lmbda": 2.0**numpy.arange(-5, 10)}]
learner = GridSearchCV(ridge, param_grid, scoring="mean_absolute_error", n_jobs=-1, verbose=0)
learner.fit(X_train, y_train)

y_pred = learner.predict(X_test)
ridge_error = mean_absolute_error(y_test, y_pred)

NameError: name 'RidgeRegression' is not defined